<!--
 * ********************************************************************************************************************* 
 * Logback logging framework config file. 
 * 
 * An example of the logging config, e.g. loggers, that can be added to a consuming app's logback config 
 * file to enable log output for the API client in production.    
 * 
 * For help with configuration syntax see the logback manual - http://logback.qos.ch/manual/configuration.html
 * Formatting characters used in patterns are documented in http://logback.qos.ch/manual/layouts.html
 *  
 * *********************************************************************************************************************
-->
<configuration scan="true" scanPeriod="10 seconds" debug="false">
  <!-- Context name distinguishes application in shared log destination. Can be used for syslogtag -->
  <contextName>btalk-cor-api-v1-client</contextName>

  <!-- Enable dynamic management of logback config, e.g. log levels, via its JMX interface -->
  <jmxConfigurator />

  <!-- Appender supporting writing to stdout / console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%contextName: %date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>      
    </encoder>
  </appender>
                
  <!-- Default 'root' logger -->               
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  <!-- Logger for BrightTALK Channel owner reporting API client -->
  <logger name="com.neiljbrown.brighttalk.channels.reportingapi.v1.client" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>      

  <!-- Loggers for utilised Apache HTTP Client. Ref. https://hc.apache.org/httpcomponents-client-ga/logging.html -->
  <logger name="org.apache.http" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.apache.http.headers" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.apache.http.wire" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>    
    
</configuration>