<?xml version="1.0" encoding="utf-8"?>
<subscribersWebcastActivity>
  <subscriberWebcastActivity id="2">
    <webcast id="2" />
    <user id="5">
      <email>hlongabaugh@test.brightallk.net</email>
      <firstName>Harry</firstName>
      <lastName>Longabaugh</lastName>
      <phone>0017302846902</phone>
      <jobTitle>Farmer</jobTitle>
      <level>Manager/Team lead</level>
      <companyName>Sundance Enterprises</companyName>
      <companySize>101-250</companySize>
      <industry>Agriculture &amp; Agribusiness</industry>
      <country>Bolivia</country>
    </user>    
    <preregistered>false</preregistered>
    <totalViewings>2</totalViewings>
    <totalViewingDuration>550</totalViewingDuration>
    <liveViewings>1</liveViewings>
    <liveViewingDuration>300</liveViewingDuration>
    <recordedViewings>1</recordedViewings>
    <recordedViewingDuration>250</recordedViewingDuration>
    <surveyResponse id="321"/>
    <created>2014-06-16T08:18:23Z</created>
    <lastUpdated>2014-06-18T10:01:01Z</lastUpdated>
    <link rel="https://api.brighttalk.com/rel/channel_subscriber" href="https://api.test.brighttalk.net/v1/channel_subscriber/5"/>
    <link rel="https://api.brighttalk.com/rel/webcast” href=”https://api.test.brighttalk.net/v1/channel/1/webcast/2"/> 
  </subscriberWebcastActivity>
  <subscriberWebcastActivity id="3">
    <webcast id="2" />
    <user id="1">
      <email>eplace@test.brightallk.net</email>
      <realm id="4"/>
      <realmUserId>eplace</realmUserId>
      <firstName>Etta</firstName>
      <lastName>Place</lastName>
      <phone>0017302846901</phone>
      <jobTitle>schoolteacher</jobTitle>
      <level>Other</level>
      <companyName>ABC High School</companyName>
      <companySize>11-100</companySize>
      <industry>Education</industry>
      <country>United States</country>
      <stateProvince>Texas</stateProvince>    
    </user>
    <preregistered>true</preregistered>
    <totalViewings>3</totalViewings>
    <totalViewingDuration>1800</totalViewingDuration>
    <liveViewings>1</liveViewings>
    <liveViewingDuration>600</liveViewingDuration>
    <recordedViewings>2</recordedViewings>
    <recordedViewingDuration>1200</recordedViewingDuration>
    <surveyResponse id="123"/>
    <created>2014-06-17T08:18:23Z</created>
    <lastUpdated>2014-06-18T09:00:01Z</lastUpdated>
    <link rel="https://api.brighttalk.com/rel/channel_subscriber" href="https://api.test.brighttalk.net/v1/channel_subscriber/3"/>
    <link rel="https://api.brighttalk.com/rel/webcast” href=”https://api.test.brighttalk.net/v1/channel/1/webcast/2"/> 
  </subscriberWebcastActivity>
  <link rel="next" href="https://api.brighttalk.com/v1/channel/1/webcast/2/subscribers_webcast_activity?cursor=1234&amp;pageSize=2"/>  
</subscribersWebcastActivity>