<?xml version="1.0" encoding="utf-8"?>
<subscribersWebcastActivity>
  <subscriberWebcastActivity id="4">
    <webcast id="2" />
    <user id="3">
      <email>bcassidy@test.brightallk.net</email>
      <firstName>Butch</firstName>
      <lastName>Cassidy</lastName>
      <phone>0018201946903</phone>
      <jobTitle>Finance Expert</jobTitle>
      <level>C-Level/Executive</level>
      <companyName>Hole in the Wall Inc.</companyName>
      <companySize>101-250</companySize>
      <industry>Financial Services - Banking &amp; Securities</industry>
      <country>United States</country>
      <country>California</country>      
    </user>    
    <preregistered>true</preregistered>
    <totalViewings>2</totalViewings>
    <totalViewingDuration>420</totalViewingDuration>
    <liveViewings>0</liveViewings>
    <liveViewingDuration>0</liveViewingDuration>
    <recordedViewings>2</recordedViewings>
    <recordedViewingDuration>420</recordedViewingDuration>
    <surveyResponse id="8425">
      <survey id="281256"/>
      <user id="3" />      
      <questions>
        <question id="3" reportingId="projPlanned">
          <answers>
            <answer>Yes</answer>
          </answers>
        </question>
        <question id="1" reportingId="projDescription">
          <answers>
            <answer>Small in-house project.</answer>
          </answers>
        </question>
        <question id="2" reportingId="interests">
          <answers>
            <answer>Parallels</answer>
            <answer>Zen</answer>
          </answers>
        </question>
        <question id="4" reportingId="freeTrial">
          <answers>
            <answer>1</answer>
          </answers>
        </question>
      </questions> 
      <created>2010-10-08T09:17:32Z</created>
      <lastUpdated>2010-10-08T09:18:32Z</lastUpdated>
      <link rel="https://api.brighttalk.com/rel/survey" href="https://api.test.brighttalk.net/survey/281256"/>
      <link rel="https://api.brighttalk.com/rel/channel_subscriber" title="respondent" href="https://api.test.brighttalk.net/channel_subscriber/1"/>       
    </surveyResponse>      
    <created>2014-06-24T09:52:23Z</created>
    <lastUpdated>2014-06-28T21:42:53Z</lastUpdated>
    <link rel="https://api.brighttalk.com/rel/channel_subscriber" href="https://api.test.brighttalk.net/v1/channel_subscriber/1"/>
    <link rel="https://api.brighttalk.com/rel/webcast" href="https://api.test.brighttalk.net/v1/channel/1/webcast/2"/> 
  </subscriberWebcastActivity>  
</subscribersWebcastActivity>