<?xml version="1.0" encoding="utf-8"?>
<webcasts>
  <webcast id="5">
    <title>Multichannel Marketing in an Era of Hyper-Accommodation</title>
    <description>Customers have become increasingly empowered and discerning through technology. They no longer let brand owners, retailers, or mass media dictate their agenda. So accommodating customers today is more challenging for marketers than ever before.

This webinar focuses on the strategic dimensions and success factors for engaging customers across discreet yet interconnected marketing channels. The emphasis includes: (1) perspectives on effective multichannel strategy, (2) frameworks for building omni-channel architecture, and (3) tools for equipping organizations to deliver brand designed experiences across channels . . . seamlessly. 

The takeaway will be a better understanding of how to develop &amp; deploy multichannel strategies in a fiscally responsible way that fits your business model, brand positioning, and organizational culture.</description>
    <presenter>A Presenter, Senior Partner, A Co.</presenter>
    <!-- Scheduled or actual duration in seconds -->
    <duration>2395</duration>    
    <!-- Scheduled start date/time -->
    <start>2013-08-15T19:00:00Z</start>
    <!-- Comma separated list of all assigned keywords (aka tags) -->
    <keywords>Multichannel Marketing, Customer Engagement</keywords>
    <!-- ‘true’ if the webcast is published, otherwise ‘false’ -->
    <published>true</published>
    <!-- One of ‘public’, ‘private’ (aka practice), or ‘feedOnly’ -->
    <visibility>public</visibility>
    <!-- Owner’s booking reference e.g. a campaign ID (Optional) --> 
    <clientBookingRef>campaign-ref-2013-08-05-3</clientBookingRef>
    <!-- Public viewing URL used by audience in e.g. calendar, email etc -->
    <url>https://www.brighttalk.com/webcast/1/5</url>
    <!-- Categorisation tags (Optional) -->            
    <categories>
      <category>Webinars/Social Media</category>
      <category>Webinars/General Marketing</category>
      <category>Webinars/Video Marketing</category>
      <category>Webinars/Demand Generation</category>
      <category>Webinars/Content Marketing</category>
    </categories>
    <!-- One of ‘upcoming’, ‘cancelled’, ‘live’, ‘processing’, 'recorded' or ‘error’ -->
    <!-- Not guaranteed to be up to date due to caching -->    
    <status>upcoming</status>
    <!-- One of ‘in’ or ‘out’, for a syndicated webcast (Optional) -->    
    <syndicationType>out</syndicationType>
    <created>2013-05-08T18:10:56Z</created>
    <lastUpdated>2013-08-15T19:41:29Z</lastUpdated>
    <link rel="self" href="https://api.test.brighttalk.net/v1/channel/1/webcast/5"/>
    <link rel="https://api.brighttalk.com/rel/subscribers_webcast_activity" href="https://api.test.brighttalk.net/v1/channel/1/webcast/5/subscribers_webcast_activity"/>    
    <link rel="https://api.brighttalk.com/rel/webcast_registrations" href="https://api.test.brighttalk.net/v1/channel/1/webcast/5/registrations"/>
    <link rel="https://api.brighttalk.com/rel/webcast_viewings" href="https://api.test.brighttalk.net/v1/channel/1/webcast/5/viewings"/>
  </webcast>
  <webcast id="6919">
    <title>Utilizing Community Marketing to Reach Through the Media Clutter</title>
    <description>Along with social media, the use of web based marketing has drastically increased over the last 10 years.  At one time an invitation to a webinar was occasional, now many people are bombarded with invitations.  The key to breaking through this clutter is not the “shot gun” approach but something that is effectively focused on the subject matter that matters most to your audience.  This could be new or existing customers, partners, resellers or any other group that makes your business effective.  Community marketing is an effective way to match the right marketing message with the right audience.  
B Presenter, a consultant to top conferencing companies for over 13 years will show you effective ways to build and effectively engage your communities, leverage existing marketing material content by customizing it for different audiences, and partnering with others in to co-brand your message effectively.</description>
    <presenter>B Presenter, Principal Consultant, Research Co.</presenter>
    <duration>2017</duration>
    <start>2013-08-15T18:00:00Z</start>
    <keywords>Community Marketing, Webinars and Videos</keywords>
    <published>true</published>
    <visibility>public</visibility>
    <clientBookingRef>campaign-ref-2013-08-05-1</clientBookingRef>
    <categories>
      <category>Webinars/Online Event Strategy</category>
      <category>Webinars/Online Event Insights</category>
      <category>Webinars/General Marketing</category>
      <category>Promotion/Featured</category>
      <category>Webinars/Video Marketing</category>
      <category>Webinars/Demand Generation</category>
      <category>Webinars/Content Marketing</category>
    </categories>
    <status>recorded</status>
    <syndicationType>in</syndicationType>
    <created>2013-03-08T17:06:37Z</created>
    <lastUpdated>2013-08-15T18:34:49Z</lastUpdated>
    <link rel="self" href="https://api.test.brighttalk.net/v1/channel/1/webcast/69191"/>
    <link rel="https://api.brighttalk.com/rel/subscribers_webcast_activity" href="https://api.test.brighttalk.net/v1/channel/1/webcast/69191/subscribers_webcast_activity"/>        
    <link rel="https://api.brighttalk.com/rel/webcast_registrations" href="https://api.test.brighttalk.net/v1/channel/1/webcast/69191/registrations"/>
    <link rel="https://api.brighttalk.com/rel/webcast_viewings" href="https://api.test.brighttalk.net/v1/channel/1/webcast/69191/viewings"/>
  </webcast>  
  <link rel="next" href="https://api.test.brighttalk.net/v1/channel/1/webcasts?pageSize=2&amp;cursor=69191-1376591689"/>  
</webcasts>